.TeeRedInput {
    padding: 0.5rem;
    height: 100%;
    width: 80%;
    border: none;
    font-size: larg;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.TeeRedInputCompleto {
    height: 100%;
    width: 100%;
    border: none;
    font-size: larg;
}

.NombreProyecto {
    width: 100%;
}

.InputContainer1 {
    padding: 0.5rem;
    height: 7%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.InputContainer4 {
    padding: 0.5rem;
    height: 7%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.InputContainer5 {
    padding: 0.5rem;
    height: 7%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.TeeRedContainer3Nuevo {
    padding: 0.5rem;
    height: 7%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.InputContainer2 {
    padding: 0.5rem;
    height: 7%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.InputContainer4-2 {
    display: flex;
    flex-direction: row;
}

.InputSelect {
    border: solid 1px #cccccc;
    padding: 0;
    border-radius: 0.5rem;
}

.modal-content {
    width: 90vw;
    margin: 0;
    height: 90vh;
    margin-top: 5vh;
}

.modal-dialog {
    margin: 0;
}

.modal-body {
    padding: 10px;
    padding-top: 0;
}

.menorButton {
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 40%;
    border-radius: 0.5rem;
    transition: transform 0.3s;
    background-color: white;
    text-align: center;
    border: black 1px solid;
    cursor: pointer;
}

.menorButton:hover {
    transform: scale(1.03);
    /* Hacemos que el botón se agrande un 5% cuando se hace hover */
    color: #f2f2f2;
    background-color: #333;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}